//@font-face
//  font-family: 'Roboto'
//  src: url('/src/renderer/src/assets/fonts/montserrat/Montserrat-Regular.ttf?asset') format('truetype')
//  font-weight: normal
//  font-style: normal

$font-family-base: 'Monsterrat', sans-serif

$primary   : #650164
$secondary : #14B342

$dark      : #1D1D1D
