::-webkit-scrollbar {
  width: 6px;
}

.body--light {
  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background-color: #e5e5e5;
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  ::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:hover {
    background-color: #737373;
  }
}

.body--dark {
  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background-color: #262626;
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: #404040;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  ::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
  }
}
