@import "./scrollbar";

p {
  margin: 0 !important;
}

body, #app {
  height: 100vh;
}

.q-menu {
  border-width: 1px;
  border-color: #d4d4d4;

  .body--dark & {
    border-width: 1px;
    border-color: #404040;
  }

  box-shadow: none !important;
}

.body--light {
  .card-secondary-background {
    background: #f5f5f5;
  }

  .color-details {
    color: #737373;
  }

  .bg-color-details {
    background-color: #737373;
  }
}

.body--dark {
  .card-secondary-background {
    background: #262626;
  }

  .color-details {
    color: #a3a3a3;
  }

  .bg-color-details {
    background-color: #a3a3a3;
  }
}

.hide-error-message-slot .q-field__bottom {
  display: none;
}
